body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.footer {
    margin-top: auto;
    background-color: #f1f1f1;
    text-align: center;
    padding: 1em 0;
    font-size: 0.9em;
    color: #333;
    border-top: 1px solid #ccc;
}
